@charset "UTF-8";

body {
  color: #5c5c5c;
}

.header {
  width: 100%;
  height: 70px;
  padding: 0px 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  height: 70px;
  padding-top: 5px;
  box-sizing: border-box;
}

.header-logo img {
  width: 150px;
  height: auto;
}

.header-nav-list {
  display: flex;
}

.header-nav-list li:not(:last-child) {
  margin-right: 30px;
}

.header-nav-list li a {
  text-decoration: none;
  color: #5c5c5c;
}

.eyecatch {
  position: relative;
  margin-bottom: 40px;
}

.eyecatch-img-container {
  width: 60%;
  margin: 0 0 0 auto;
}

.eyecatch-img-container img {
  width: 100%;
  height: 100%;
  display: block;
}

.eyecatch-copy-container {
  position: absolute;
  top: 10%;
  left: 20%;
}

.eyecatch-copy-en {
  font-family: "Indie Flower", cursive;
  color: #a10055;
  font-weight: bold;
  font-size: 60px;
  line-height: 80px;
  margin-bottom: 60px;
}

.eyecatch-copy-ja {
  color: #a10055;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.eyecatch-copy-company {
  line-height: 24px;
}

.eyecatch-copy-container span {
  color: #1491a3;
}

.title-box {
  margin-bottom: 40px;
}

.title-box .title-icon {
  font-family: "Indie Flower", cursive;
  color: #a10055;
  margin-bottom: 10px;
}

.title-box .title-text {
  font-size: 25px;
  font-weight: bold;
}

#news {
  width: 60%;
  padding-top: 40px;
  margin: 0 auto 80px;
}

.news-list {
  margin-bottom: 32px;
}

.news-item {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.news-icon {
  color: #fff;
  background: #a10055;
  padding: 3px 16px;
  border-radius: 100vh;
  margin: 0 30px;
}

#about {
  background: #f2f2f2;
  padding: 40px 12%;
}

#about .title-box {
  text-align: center;
  margin-bottom: 40px;
}

.about-container {
  display: flex;
  justify-content: space-between;
}

.about-text-box {
  width: 40%;
}

.about-text-box p {
  line-height: 24px;
}

.about-text-box p:not(:last-child) {
  margin-bottom: 30px;
}

.about-img-box {
  width: 40%;
}

.about-img-box img {
  width: 100%;
}

#service {
  padding: 40px 12%;
}

.service-container {
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px;
}

.service-first-box {
  grid-column: 1/2;
  grid-row: 1/3;
  background: #a10055;
}

.service-second-box {
  grid-column: 2/3;
  grid-row: 1/2;
  background: #a14478;
  display: flex;
  align-items: center;
}

.service-third-box {
  grid-column: 2/3;
  grid-row: 2/3;
  background: #a2738d;
  display: flex;
  align-items: center;
}

.service-first-box img {
  width: 150px;
  height: 150px;
  display: block;
  margin: 30px auto 20px;
}

.service-first-box .bold-text {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.service-first-box .normal-text {
  line-height: 24px;
  padding: 0 60px;
}

.service-second-box img,
.service-third-box img {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 16px;
}

.service-second-box .bold-text,
.service-third-box .bold-text {
  font-weight: bold;
  margin-bottom: 20px;
}

.service-second-box .normal-text,
.service-third-box .normal-text {
  line-height: 24px;
  padding-right: 20px;
}

#blog {
  background: #f2f2f2;
  padding: 40px 12%;
}

.blog-card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.blog-card {
  width: 30%;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease 0s;
  position: relative;
}

.blog-card:hover {
  transform: translateY(-4px);
}

.blog-card img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.blog-icon {
  width: 80px;
  height: 40px;
  color: #fff;
  background: #a10055;
  border-radius: 15px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.blog-card-content {
  padding: 20px;
}

.blog-card-title {
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 30px;
}

.blog-card-tag {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.blog-btn {
  width: 150px;
  color: #a10055;
  text-decoration: none;
  background: #fff;
  padding: 14px 20px;
  border: 2px solid #a10055;
  border-radius: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease 0s;
}

.blog-btn:hover {
  color: #fff;
  background: #a10055;
}

#company {
  width: 60%;
  margin: 40px auto 80px;
  padding-top: 40px;
}

.company-table {
  width: 100%;
  border-collapse: collapse;
}

.company-table th,
.company-table td {
  text-align: left;
  border: 1px solid #ccc;
  padding: 20px;
}

.company-table th {
  font-weight: bold;
  background: #f2f2f2;
}

#recruit-interview {
  display: flex;
  margin-bottom: 80px;
}

.recruit-img-box {
  width: 50%;
  position: relative;
}

.interview-img-box {
  width: 50%;
  position: relative;
}

.recruit-img-box img {
  width: 100%;
}

.interview-img-box img {
  width: 100%;
}

.recruit-img-box p {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.interview-img-box p {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#contact {
  margin-bottom: 80px;
}

.contact-text {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.contact-vertical-line {
  margin: 0 auto 20px;
  width: 2px;
  height: 40px;
  background: #a10055;
}

.contact-btn img {
  height: 24px;
  margin: 0 24px 0 6px;
}

.contact-btn {
  width: 200px;
  color: #fff;
  text-decoration: none;
  background: linear-gradient(90deg, #f8007a, #a10055);
  padding: 24px 20px;
  border-bottom: 6px solid #6f003e;
  border-radius: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  transition: all 0.2s ease 0s;
}

.contact-btn:active {
  border-bottom-color: transparent;
  transform: translateY(6px);
}

.footer {
  width: 100%;
  height: 60px;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
